


body {
    font-family: Arial, sans-serif;
    background-color: #fcdaf3;
    text-align: center;
}



.product-page {
    max-width: 800px;
    margin: 130px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 0 120px #ff0a85c7;  
}

.product-title {
    text-align: center;
}

.product-price,
.product-title,
.product-link {
    font-weight: bold;
}

.product-p,
.product-c {
    color: #ea1ef1;
    font-weight: 900;
}

.product-detail {
    margin: 10px 50px; /* Paragraflar arası boşluk */
}

.product-list {
    list-style-type: none; /* Varsayılan simgeyi kaldırma */
}

.product-list li {
    margin-bottom: 20px; /* Her bir liste öğesi için alt boşluk ekleme */
}

.product-list li::before {
    content: '♡'; /* Kullanmak istediğim sembolü burada belirttim */
    font-size: 25px; /* Simge boyutu */
}

.product-button {
    background-color: #ea1ef1; /* Butonun arka plan rengi */
    color: #e0bbe9; /* Yazı rengi */
    padding: 5px 10px; /* İç boşluk */
    border-radius: 30px; /* Yuvarlatılmış köşeler */
    cursor: pointer; /* Üzerine gelindiğinde el simgesi */
    font-size: 15px; /* Yazı boyutu */
    font-weight: bold; /* Yazı kalınlığı */ 
}

.product-button:hover {
    background-color: #ffffff; /* Hover durumu için daha açık bir renk */
}

.product-button:active {
    background-color: #000000; /* Buton tıklandığında rengi değiştirir */
}

.product-link {
    font-style: italic;
    color: #fa59d7;
    text-decoration: none; /* Alt çizgiyi kaldırır */
}
